@font-face {
  font-family: "Muller";
  src: url("fonts/Muller/MullerMedium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("fonts/Muller/MullerBold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("fonts/Muller/MullerExtraBold.ttf");
  font-style: extrabold;
  font-weight: 800;
  font-display: swap;
}

html {
    background-image: url("img/background.jpg");
    background-size: auto;
    font-family: "Muller";
    background-repeat: no-repeat;
    color: white;
}

#restart {
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    font-family: "Muller";
    font-weight: 700;
    border: 0px;
    border-radius: 25px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
}

.closeModal {
    color: black;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}

#startGame {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
  font-family: "Muller";
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.insideModal {
    z-index: 100;
    width: 25vw;
    height: 20vh;
    background-color: white;
    border-radius: 30px;
    color: black;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
    animation: anim .5s;
    transform: translateY(230px); 
    position: relative;
}

.success::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background: url('img/success.png');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.warning::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 55px;
  height: 50px;
  background: url('img/warning.png');
  background-position: center;
  background-size: 100% 100%;
}

.modalText {
  z-index: 200;
  padding-top: 60px;
  line-height: 1.65rem;
}

@keyframes anim {   
  0% {     
    transform: translateY(-100px); 
  }   

  100% {
    transform: translateY(230px); 
   }
}
